<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="index::encabezado">

</head>
<body>
	<nav th:insert="home::navbar"></nav>
	<br>
	<br>
	<div id="contenedor" class="container">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="input-group mb-3">
						<input type="text" class="form-control" placeholder="Buscar"
							aria-label="Buscar" aria-describedby="basic-addon2">

						<!-- <button th:onclick="obtenerProductos();" type="button" class="btn btn-secondary">Buscar</button>-->
						<a th:onclick="obtenerProductosPaginados(1);" class="btn btn-secondary">Buscar</a>
					</div>
				</div>
				<div class="col">
					<button type="button" class="btn btn-success"
						data-bs-toggle="modal" data-bs-target="#exampleModal">Agregar</button>
				</div>
			</div>
			<div id="resultado">
				<div class="row">
					<div class="col">Nombre</div>
					<div class="col">Clave</div>
					<div class="col">Precio</div>
					<div class="col">Cantidad</div>
				</div>
				<div class="row" th:each="producto: ${productos}">
					<div class="col" th:text="${producto.nombre}"></div>
					<div class="col" th:text="${producto.clave}"></div>
					<div class="col" th:text="${producto.precio}"></div>
					<div class="col" th:text="${producto.cantidad}"></div>
				</div>
				
				<div id="botonesPaginacion" class="col-md-8">

					<nav aria-label="Pagination"
						th:if="${productos != null and productos.totalPages gt 0}">
						<ul class="pagination">
							<li class="page-item"
								th:classappend="${productos.number eq 0} ? 'disabled'">
								<a
								class="page-link"
								th:onclick="'obtenerProductosPaginados(\'' + ${productos.number lt 2 ? 1 : productos.number} + '\');'"
								aria-label="Anterior" title="Anterior" rel="tooltip"> 
								Anterior
							</a></li>
							<li class="page-item"
								th:classappend="${i eq productos.number + 1} ? 'active'"
								th:each="i : ${#numbers.sequence(productos.number + 1, productos.totalPages > 10 + productos.totalPages ? productos.number + 10 : productos.totalPages, 1)}">
								<a class="page-link"
								th:onclick="'obtenerProductosPaginados(\'' + ${i} + '\');'"
								th:text="${i}" th:title="${'Page '+ i}" rel="tooltip"></a>
							</li>
							<li class="page-item disabled"
								th:if="${productos.number + 10 < productos.totalPages}"><a
								class="page-link svg-icon" href="#"> <span
									data-feather="more-horizontal" width="20" height="20"></span>
							</a></li>
							<li class="page-item"
								th:classappend="${productos.number + 1 eq productos.totalPages} ? 'disabled'">
								<a class="page-link"
								th:onclick="'obtenerProductosPaginados(\'' + ${productos.number + 2} + '\');'"
								aria-label="Siguiente" title="Siguiente" rel="tooltip">Siguiente
							</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="exampleModal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Agregar Producto</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<form id="agregar-prod-forma" th:action="@{/producto/guardar}"
					method="post">
					<div class="modal-body">

						<div class="form-label-group">
							<input type="text" class="form-control"
								placeholder="nombre producto" aria-label="nombre producto"
								aria-describedby="basic-addon2" id="nombre" name="nombre">
							<label for="nombre"></label>
						</div>

						<div class="form-label-group">
							<input type="text" class="form-control" placeholder="clave"
								aria-label="clave" aria-describedby="basic-addon2" id="clave"
								name="clave"> <label for="clave"></label>
						</div>

						<div class="form-label-group">
							<input type="text" class="form-control" placeholder="precio"
								aria-label="precio" aria-describedby="basic-addon2" id="precio"
								name="precio"> <label for="precio"></label>
						</div>


						<div class="form-label-group">
							<input type="text" class="form-control" placeholder="cantidad"
								aria-label="cantidad" aria-describedby="basic-addon2"
								id="cantidad" name="cantidad"> <label for="cantidad"></label>
						</div>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Cancelar</button>
						<input type="submit" class="btn btn-primary" value="Guardar">

					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="modalExitosoError" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Mensaje</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div id="modalMensaje">
						<th:block if="${mensajeExitoso != null}">
							<p>[[${mensajeExitoso}]]</p>
						</th:block>
						<th:block if="${mensajeError != null}">
							<p>[[${mensajeError}]]</p>
						</th:block>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success"
						data-bs-dismiss="modal">Aceptar</button>

				</div>
			</div>
		</div>
	</div>

	<th:block th:insert="index::script"></th:block>
</body>
</html>