<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="index::encabezado">

</head>
<body>

	<div id="contenedor">
		<nav th:insert="index::navbar"></nav>

		<div th:if="${errorMensaje != null}">
			<div class="alert alert-danger alert-dismissible fade show"
				role="alert">
				<strong>[[${errorMensaje}]]</strong>
				<button type="button" class="btn-close" data-bs-dismiss="alert"
					aria-label="Close"></button>
			</div>

		</div>


		Iniciar sesion

		<form id="forma-login" th:action="@{/usuario/login}" method="post">

			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<div class="form-label-group">
						<input id="correo" type="text" name="correo" class="form-control">
						<label for="correo"></label>
					</div>


					<div class="form-label-group">
						<input id="password" type="password" name="password"
							class="form-control"> <label for="password"></label>
					</div>
					<input id="boton" type="submit" value="Iniciar">
				</div>
			</div>
		</form>

	</div>


	<th:block th:insert="index::script"></th:block>
	<script
		th:src="@{webjars/jquery-validation/1.19.3/jquery.validate.min.js}"
		type="text/javascript"></script>
</body>
</html>